
.rrc-products-nav{
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(---rrc-bg-color-secondary);
}


.rrc-products-nav-link-color{    
    color: var(---rrc-font-color-secondary);

}

.rrc-active-link{
    font-weight: 700;
}